<div class="Policy-header">
    <div class="boxItem media">
        <div class="media-left"><i class="{{ settings.homehtml_icon1 }}"></i></div>
        <div class="media-body">
            <span class="media-heading">{{ settings.homehtml_title1 }}</span>
            <span class="media-content">{{ settings.homehtml_description1 }}</span>
        </div>
    </div>	
    <div class="boxItem media">
        <div class="media-left"><i class="{{ settings.homehtml_icon2 }}"></i></div>
        <div class="media-body">
            <span class="media-heading">{{ settings.homehtml_title2 }}</span>
            <span class="media-content">{{ settings.homehtml_description2 }}</span>
        </div>
    </div>	
    <div class="boxItem media">
        <div class="media-left"><i class="{{ settings.homehtml_icon3 }}"></i></div>
        <div class="media-body">
            <span class="media-heading">{{ settings.homehtml_title3 }}</span>
            <span class="media-content">{{ settings.homehtml_description3 }}</span>
        </div>
    </div>	
</div>
