
<div class="vigortext" style="background-image: url('{{ section.settings.image | img_url: '2000x' }}')">
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="vigortext__inner">
    <div class="text-center">
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.title != blank %}
        <h3 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title2 | escape }}</h3>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="readmore btn btn-special">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Image with text overlay",
    "class": "vigorFramework",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "HTML",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "vigor Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}
