<div class="container">
    <div class="page--sale">
        <div class="vigor-banner-sale flexBox-top flexBox-row">
            {% for block in section.blocks %}
               <div class="colvigor {{ section.settings.colvigor }}">
                  <div class="lookbook-item">
                       <a class="image-vigor banner_effect" href="{{ block.settings.link }}" title="{{ block.settings.heading }}" style="background-image: url('{{ block.settings.image | img_url: '2000x' }}')">
                            {% if block.settings.image != blank %}
                                <img class="img-responsive" alt="{{ block.settings.heading }}" src="{{ block.settings.image | img_url: '2000x' }}" />
                            {% else %}
                                <img class="img-responsive" alt="{{ shop.name }}" src="http://placehold.it/{{ block.settings.image_size }}" />
                            {% endif %}
                        </a>
                        {% if block.settings.heading != blank %}
                            <h3 class="heding-lookbook text-center"><a href="{{ block.settings.link }}" title="{{ block.settings.heading }}">{{ block.settings.heading }}</a></h3>
                        {% endif %}
                        {% if block.settings.desc != blank %}
                            <div class="decs-banner text-center">{{ block.settings.desc }}</div>
                        {% endif %}
                  </div>
               </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Content page Sale",
		"max_blocks": 20,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
              "type": "select",
              "id": "colvigor",
              "label": "Images per row",
              "default": "colvigor3",
              "options": [
	            {
                  "value": "colvigor1",
                  "label": "1"
                },
                {
                  "value": "colvigor2",
                  "label": "2"
                },
                {
                  "value": "colvigor3",
                  "label": "3"
                },
                {
                  "value": "colvigor4",
                  "label": "4"
                },
				{
                  "value": "colvigor5",
                  "label": "5"
                }
              ]
            }
        ],
		"blocks": [
			{
                "type": "item",
                "name": "Banner Item",
                "settings": [
                      {
                          "type": "text",
                          "id": "image_size",
                          "label": "Image Size",
                          "info": "Image Size is required."
                      },
                      {
                          "type": "text",
                          "id": "link",
                          "label": "Image Link"
                      },
                      {
                          "type": "image_picker",
                          "id": "image",
                          "label": "Banner Image"
                      },
                      {
                          "type": "text",
                          "id": "heading",
                          "placeholder": "Title for Block",
                          "label": "Title"
                      },
                      {
                          "type": "text",
                          "id": "desc",
                          "placeholder": "Description for Block",
                          "label": "Description"
                      }
                ]
            }
		]
    }
{% endschema %}