{% if section.settings.vigor-header_style == "style1" %}
	<header id="vigor--Header" class="vigor--Header">
    <section class="headerWrap">
       	{% if section.settings.topbar_html != blank %}
              <div id="topBar">
                    <div class="{% if  section.settings.container_enable %}header-full headerContent{% else %}container{% endif %} clearfix">
                        <div class="left-clounm">{{ section.settings.topbar_html }}</div>
                        <div class="right-clounm">{% include 'link_topbar' %} </div>
                    </div>
              </div>
        {% endif %}
        <div id="Header--Main">
            <div class="{% if  section.settings.container_enable %}header-full{% else %}container{% endif %}">
              	<div class="{% if  section.settings.container_enable %}clearfix{% else %}row{% endif %}">
                    <div class="headerContent align-items">
                        <div class="headerCenter col-xs-12 col-sm-2 col-md-2">
                            {% if template == 'index' %}
                                <h1 class="vigorLogo" itemscope itemtype="http://schema.org/Organization">
                            {% else %}
                                <div class="vigorLogo" itemscope itemtype="http://schema.org/Organization">
                            {% endif %}
                            {% if section.settings.logo_use_image %}
                                <a href="/" itemprop="url" class="LogoLink">
                                    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                                    <img src="{{ section.settings.logo | img_url: image_size }}"
                                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                                    itemprop="logo">
                                </a>
                            {% else %}
                                <a href="/" itemprop="url">{{ shop.name }}</a>
                            {% endif %}
                            {% if template != 'index' %}
                                </div>
                            {% else %}
                                </h1>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10">
                            <div class="headerCenter align-items">
                                {% if section.settings.velamenu_enable %}
                                    <section id="velaMegamenu" class="velaMegamenu">
                                        <nav class="menuContainer">
                                           <div class="menuBtnMobile hidden-lg hidden-md">
                                                <div id="btnMenuMobile" class="btnMenuMobile">
                                                    <i class="ti-menu"></i>
                                                </div>
                                            </div>
                                            <ul class="nav hidden-xs hidden-sm">
                                                {% for velaLink in linklists[section.settings.velamenu_linklist].links %}
                                                    {% assign linkHandle = velaLink.title | handleize %}
                                                    {% assign isMega = false %}
                                                    {% for block in section.blocks %}
                                                        {% assign menuItem = velaLink.title %}
                                                        {% if block.settings.velamenu_item contains menuItem %}
                                                            {% include 'vela-megamenu' %}
                                                            {% assign isMega = true %}
                                                            {% break %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if isMega == false %}
                                                        {% if linklists[linkHandle].links != blank %}
                                                            {% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
                                                            <li class="hasMenuDropdown{% if velaLink.active %} active{% endif %}">
                                                                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                                                <ul class="menuDropdown">
                                                                    {% for velaLink1 in linklists[linkHandle].links %}
                                                                        {% assign linkHandle = velaLink1.title | handleize %}
                                                                        {% if linklists[linkHandle].links != blank %}
                                                                            {% comment %}====== MENU DROPDOWN LEVEL II ======{% endcomment %}
                                                                            <li class="hasMenuDropdown{% if velaLink1.active %} active{% endif %}">
                                                                                <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                                                <ul class="menuDropdown">
                                                                                    {% for velaLink2 in linklists[linkHandle].links %}
                                                                                        {% assign linkHandle = velaLink2.title | handleize %}
                                                                                        {% if linklists[linkHandle].links != blank %}
                                                                                            {% comment %}====== MENU DROPDOWN LEVEL III ======{% endcomment %}
                                                                                            <li class="hasMenuDropdown{% if velaLink2.active %} active{% endif %}">
                                                                                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                                                <ul class="menuDropdown">
                                                                                                    {% for velaLink3 in linklists[linkHandle].links %}
                                                                                                        <li class="{% if velaLink3.active %}active{% endif %}">
                                                                                                            <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </li>
                                                                                        {% else %}
                                                                                            <li class="{% if velaLink2.active %}active{% endif %}">
                                                                                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% else %}
                                                                            <li class="{% if velaLink1.active %}active{% endif %}">
                                                                                <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% else %}
                                                            <li class="{% if velaLink.active %}active{% endif %}">
                                                                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                	</section>
                                {% endif %}
                                {% if section.settings.velamenu_enable %}
                                    {% include 'vela-menu-mobile' %}
                                {% endif %}
                                 <div class="headerRight col-sm-3 col-md-2">
                                      <div class="pull-right align-items">
                                          <div class="search_onclick">
                                              <i class="zmdi zmdi-search zmdi-hc-fw"></i>
                                              {% include 'vela-searchtop' %}
                                          </div>	
                                          <div class="wishlist_top">
                                              <a title="{{ section.settings.title_wishlist }}" href="{{ section.settings.link_wishlist }}"><i class="zmdi zmdi-favorite zmdi-hc-fw"></i></a>
                                          </div>
                                          <div class="groupBt Topbar inline-block"> 
                                              <a class="titleGroup" href="/account"><i class="zmdi zmdi-account zmdi-hc-fw"></i></a>
                                              {% include 'vela-toplinks' %}
                                          </div>
                                          {% include 'vela-carttop' %}
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
</header>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            jQuery(".search_onclick").click(function(){
                jQuery("body").toggleClass("activeSearch");
                jQuery(".activeSearch #velaSearchbox .velaSearch").focus();
            });
        });
    </script>
{% endif %}	
{% if section.settings.vigor-header_style == "style2" %}
	<header id="vigor--Header" class="vigor--Header style2">
    <section class="headerWrap">
       	{% if section.settings.topbar_html != blank %}
              <div id="topBar">
                    <div class="{% if  section.settings.container_enable %}header-full headerContent{% else %}container{% endif %} clearfix">
                        <div class="left-clounm">
                      	    {%- assign socialEnable = section.settings.social_enable -%}
                            {%- assign socialTitle = section.settings.social_title -%}
                            {%- assign socialFacebook = section.settings.social_facebook -%}
                            {%- assign socialTwitter = section.settings.social_twitter -%}
                            {%- assign socialInstagram = section.settings.social_instagram -%}
                            {%- assign socialPinterest = section.settings.social_pinterest -%}
                            {%- assign socialYoutube = section.settings.social_youtube -%}
                            {%- assign socialGooglePlus = section.settings.social_googleplus -%}
                            {%- assign socialRss = section.settings.social_rss -%}
                            {% include 'vela-social' %}
                      </div>
                        <div class="right-clounm align-items">
                            {% include 'vela-toplinks_2' %}
                            {% include 'vela-carttop' %}
                      	</div>
                    </div>
              </div>
        {% endif %}
        <div id="Header--Main">
            <div class="{% if  section.settings.container_enable %}header-full{% else %}container{% endif %}">
              	<div class="{% if  section.settings.container_enable %}clearfix{% else %}row{% endif %}">
                    <div class="headerContent header_conetnt align-items">
                        <div class="headerCenter col-xs-12 col-sm-3 col-md-5">
                            {% if template.name == 'index' %}
                              <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
                            {% else %}
                              <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
                            {% endif %}
                              {% if section.settings.logo %}
                                {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
                                  {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                                  <img class="lazyload js"
                                       src="{{ section.settings.logo | img_url: '300x300' }}"
                                       data-src="{{ img_url }}"
                                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                       data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                                       data-sizes="auto"
                                       alt="{{ logo_alt | escape }}"
                                       style="max-width: {{ section.settings.logo_max_width }}px">
                                  <noscript>
                                    {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                                    <img src="{{ section.settings.logo | img_url: image_size }}"
                                         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                         alt="{{ section.settings.logo.alt | default: shop.name }}"
                                         itemprop="logo"
                                         style="max-width: {{ section.settings.logo_max_width }}px;">
                                  </noscript>
                                </a>
                              {% else %}
                                <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
                              {% endif %}
                            {% if template.name == 'index' %}
                              </h1>
                            {% else %}
                              </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-7">
                            <div class="headerCenter clearfix">
                                  <div class="hidden-xs hidden-sm">
                                      {% if section.settings.wg-contactinfo_enable %}
                                        {% include 'contact-info' %}
                                     {% endif %}
                                  </div>
                                 {% include 'vela-searchtop' %}
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
		{% if section.settings.velamenu_enable %}
            <section id="velaMegamenu" class="velaMegamenu">
            <div class="border_top {% if  section.settings.container_enable %}header-full headerContent{% else %}container{% endif %}">
                <div class="align-items">
                <nav class="menuContainer">
                   <div class="menuBtnMobile hidden-lg hidden-md">
                        <div id="btnMenuMobile" class="btnMenuMobile">
                            <i class="ti-menu"></i>
                        </div>
                    </div>
                    <ul class="nav hidden-xs hidden-sm">
                        {% for velaLink in linklists[section.settings.velamenu_linklist].links %}
                            {% assign linkHandle = velaLink.title | handleize %}
                            {% assign isMega = false %}
                            {% for block in section.blocks %}
                                {% assign menuItem = velaLink.title %}
                                {% if block.settings.velamenu_item contains menuItem %}
                                    {% include 'vela-megamenu' %}
                                    {% assign isMega = true %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                            {% if isMega == false %}
                                {% if linklists[linkHandle].links != blank %}
                                    {% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
                                    <li class="hasMenuDropdown{% if velaLink.active %} active{% endif %}">
                                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                        <ul class="menuDropdown">
                                            {% for velaLink1 in linklists[linkHandle].links %}
                                                {% assign linkHandle = velaLink1.title | handleize %}
                                                {% if linklists[linkHandle].links != blank %}
                                                    {% comment %}====== MENU DROPDOWN LEVEL II ======{% endcomment %}
                                                    <li class="hasMenuDropdown{% if velaLink1.active %} active{% endif %}">
                                                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                        <ul class="menuDropdown">
                                                            {% for velaLink2 in linklists[linkHandle].links %}
                                                                {% assign linkHandle = velaLink2.title | handleize %}
                                                                {% if linklists[linkHandle].links != blank %}
                                                                    {% comment %}====== MENU DROPDOWN LEVEL III ======{% endcomment %}
                                                                    <li class="hasMenuDropdown{% if velaLink2.active %} active{% endif %}">
                                                                        <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                        <ul class="menuDropdown">
                                                                            {% for velaLink3 in linklists[linkHandle].links %}
                                                                                <li class="{% if velaLink3.active %}active{% endif %}">
                                                                                    <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="{% if velaLink2.active %}active{% endif %}">
                                                                        <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li class="{% if velaLink1.active %}active{% endif %}">
                                                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="{% if velaLink.active %}active{% endif %}">
                                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <div class="headerRight hidden-lg hidden-md">
                    <div class="pull-right align-items">
                           {% if section.settings.wg-contactinfo_enable %}
                              {% include 'contact-info' %}
                           {% endif %}
                    </div>
               </div>
               </div>
            </div>
        </section>
        {% endif %}
        {% if section.settings.velamenu_enable %}
            {% include 'vela-menu-mobile' %}
        {% endif %}
        </div>
    </section>
</header>
{% endif %}	
{% if section.settings.vigor-header_style == "style3" %}
	<header id="vigor--Header" class="vigor--Header style2 style3">
    <section class="headerWrap">
       	{% if section.settings.topbar_html != blank %}
              <div id="topBar">
                    <div class="{% if  section.settings.container_enable %}header-full headerContent{% else %}container{% endif %} clearfix">
                        <div class="left-clounm">
                      	    {%- assign socialEnable = section.settings.social_enable -%}
                            {%- assign socialTitle = section.settings.social_title -%}
                            {%- assign socialFacebook = section.settings.social_facebook -%}
                            {%- assign socialTwitter = section.settings.social_twitter -%}
                            {%- assign socialInstagram = section.settings.social_instagram -%}
                            {%- assign socialPinterest = section.settings.social_pinterest -%}
                            {%- assign socialYoutube = section.settings.social_youtube -%}
                            {%- assign socialGooglePlus = section.settings.social_googleplus -%}
                            {%- assign socialRss = section.settings.social_rss -%}
                            {% include 'vela-social' %}
                      </div>
                        <div class="right-clounm align-items">
                            {% include 'vela-toplinks_2' %}
                            {% include 'vela-carttop' %}
                      	</div>
                    </div>
              </div>
        {% endif %}
        <div id="Header--Main">
            <div class="{% if  section.settings.container_enable %}header-full{% else %}container{% endif %}">
              	<div class="{% if  section.settings.container_enable %}clearfix{% else %}row{% endif %}">
                    <div class="headerContent header_conetnt">
                      	 <div class="headerLeft col-xs-12 col-sm-5 col-md-5 hidden-xs hidden-sm">
                          	   {% if section.settings.wg-contactinfo_enable %}
                                    {% include 'contact-info' %}
                               {% endif %}
                        </div>
                        <div class="headerCenter col-xs-12 col-sm-4 col-md-2">
                            {% if template == 'index' %}
                                <h1 class="vigorLogo" itemscope itemtype="http://schema.org/Organization">
                            {% else %}
                                <div class="vigorLogo" itemscope itemtype="http://schema.org/Organization">
                            {% endif %}
                            {% if section.settings.logo_use_image %}
                                <a href="/" itemprop="url" class="LogoLink">
                                    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                                    <img src="{{ section.settings.logo | img_url: image_size }}"
                                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                                    itemprop="logo">
                                </a>
                            {% else %}
                                <a href="/" itemprop="url">{{ shop.name }}</a>
                            {% endif %}
                            {% if template != 'index' %}
                                </div>
                            {% else %}
                                </h1>
                            {% endif %}
                        </div>
                        <div class="headerRight col-xs-12 col-sm-8 col-md-5">
								{% include 'vela-searchtop' %}
                      	</div>
                    </div>
                 </div>
            </div>
		{% if section.settings.velamenu_enable %}
            <section id="velaMegamenu" class="velaMegamenu">
            <div class="{% if  section.settings.container_enable %}header-full headerContent{% else %}container{% endif %} border_top">
                <div class="align-items">
                <nav class="menuContainer">
                   <div class="menuBtnMobile hidden-lg hidden-md">
                        <div id="btnMenuMobile" class="btnMenuMobile">
                            <i class="ti-menu"></i>
                        </div>
                    </div>
                    <ul class="nav hidden-xs hidden-sm">
                        {% for velaLink in linklists[section.settings.velamenu_linklist].links %}
                            {% assign linkHandle = velaLink.title | handleize %}
                            {% assign isMega = false %}
                            {% for block in section.blocks %}
                                {% assign menuItem = velaLink.title %}
                                {% if block.settings.velamenu_item contains menuItem %}
                                    {% include 'vela-megamenu' %}
                                    {% assign isMega = true %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                            {% if isMega == false %}
                                {% if linklists[linkHandle].links != blank %}
                                    {% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
                                    <li class="hasMenuDropdown{% if velaLink.active %} active{% endif %}">
                                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                        <ul class="menuDropdown">
                                            {% for velaLink1 in linklists[linkHandle].links %}
                                                {% assign linkHandle = velaLink1.title | handleize %}
                                                {% if linklists[linkHandle].links != blank %}
                                                    {% comment %}====== MENU DROPDOWN LEVEL II ======{% endcomment %}
                                                    <li class="hasMenuDropdown{% if velaLink1.active %} active{% endif %}">
                                                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                        <ul class="menuDropdown">
                                                            {% for velaLink2 in linklists[linkHandle].links %}
                                                                {% assign linkHandle = velaLink2.title | handleize %}
                                                                {% if linklists[linkHandle].links != blank %}
                                                                    {% comment %}====== MENU DROPDOWN LEVEL III ======{% endcomment %}
                                                                    <li class="hasMenuDropdown{% if velaLink2.active %} active{% endif %}">
                                                                        <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                        <ul class="menuDropdown">
                                                                            {% for velaLink3 in linklists[linkHandle].links %}
                                                                                <li class="{% if velaLink3.active %}active{% endif %}">
                                                                                    <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="{% if velaLink2.active %}active{% endif %}">
                                                                        <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li class="{% if velaLink1.active %}active{% endif %}">
                                                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="{% if velaLink.active %}active{% endif %}">
                                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <div class="headerRight hidden-lg hidden-md">
                    <div class="pull-right align-items">
                      	 <div class="hidden-lg hidden-md">
                           {% if section.settings.wg-contactinfo_enable %}
                              {% include 'contact-info' %}
                           {% endif %}
                      	</div>
                    </div>
               </div>
               </div>
            </div>
        </section>
        {% endif %}
        {% if section.settings.velamenu_enable %}
            {% include 'vela-menu-mobile' %}
        {% endif %}
        </div>
    </section>
</header>
{% endif %}
{% schema %}
	{
      	"name": "Header",
		"max_blocks": 5,
      	"settings": [
            {
              "type": "checkbox",
              "id": "container_enable",
              "label": "Header full width?",
              "default": true
            },
			{
              "type": "select",
              "id": "vigor-header_style",
              "label": "Header Style",
              "default": "style1",
              "options": [
                {
                  "value": "style1",
                  "label": "Type 1"
                },
                {
                  "value": "style2",
                  "label": "Type 2"
                },
                {
                  "value": "style3",
                  "label": "Type 3"
                }

              ],
              "info": "Select Header Style"
            },
			{
                "type": "header",
                "content": "Top Bar (* When using header style 1 *)"
            },
			{
              "type": "textarea",
              "id": "topbar_html",
              "label": "Text Top Bar"
            },
            {
              "type": "header",
              "content": "Topbar links"
            },
            {
              "type": "checkbox",
              "id": "mentopbar_enable",
              "label": "Enable Menu Topbar",
              "info": "Enable Menu Topbar ?"
            },
            {
              "type": "link_list",
              "id": "mentopbar_links",
              "label": "Top bar link"
            },
			{
                "type": "header",
                "content": "Wishlist"
            },
			{
                "type": "text",
                "id": "title_wishlist",
                "label": "tooltip for whishlist"
            },
			{
                "type": "url",
                "id": "link_wishlist",
                "label": "Link for whishlist"
            },
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
            },
            {
              "type": "text",
              "id": "logo_max_width",
              "label": "Custom logo width (in pixels)",
              "default": "100"
            },
			{
                "type": "header",
                "content": "Menu"
            },
            {
                "type": "checkbox",
                "id": "velamenu_enable",
                "label": "Enable Megamenu",
                "info": "Acitve Vela Menu"
            },
            {
                "type": "link_list",
                "id": "velamenu_linklist",
                "label": "Menu",
                "default": "main-menu"
            },
            {
                "type": "text",
                "id": "velamenu_menumobile_title",
                "label": "Menu Mobile Title",
                "placeholder": "Menu Mobile Title",
                "default": "Menu Mobile"
            },
			{
              "type": "header",
              "content": "When using header style 2 + 3"
            },
			{
                "type": "header",
                "content": "Vigor Social"
            },
            {
                "type": "checkbox",
                "id": "social_enable",
                "label": "Enable Vigor Social?"
            },
            {
                "type": "text",
                "id": "social_title",
                "placeholder": "Title for Block",
                "label": "Block Title",
                "info": "Title for Block"
            },
            {
                "type": "text",
                "id": "social_facebook",
                "placeholder": "Link your Facebook",
                "label": "Facebook Link"
            },
            {
                "type": "text",
                "id": "social_twitter",
                "placeholder": "Link your Twitter",
                "label": "Twitter Link"
            },
            {
                "type": "text",
                "id": "social_instagram",
                "placeholder": "Link your Instagram",
                "label": "Instagram Link"
            },
            {
                "type": "text",
                "id": "social_pinterest",
                "placeholder": "Link your Pinterest",
                "label": "Pinterest Link"
            },
            {
                "type": "text",
                "id": "social_youtube",
                "placeholder": "Link your Youtube",
                "label": "Youtube Link"
            },
            {
                "type": "text",
                "id": "social_googleplus",
                "placeholder": "Link your Googleplus",
                "label": "Googleplus Link"
            },
            {
                "type": "text",
                "id": "social_rss",
                "placeholder": "Link your Rss",
                "label": "Rss Link"
            },
			{
                "type": "header",
                "content": "Block User info"
            },
            {
                "type": "text",
                "id": "topbar_toplinks_title",
                "placeholder": "Title for Block",
                "label": "Block Title"
            },
            {
                "type": "link_list",
                "id": "topbar_toplinks",
                "label": "Topbar Menu"
            },
			{
                "type": "header",
                "content": "Contact Header"
            },
            {
                "type": "checkbox",
                "id": "wg-contactinfo_enable",
                "label": "Enable HOT LINE ?"
            },
            {
              "type": "text",
              "id": "contact_info",
              "label": "HOT LINE"
            },
            {
              "type": "text",
              "id": "title_mail",
              "label": "MAIL"
            },
            {
              "type": "text",
              "id": "link_mail",
              "label": "Link Mail"
            }
        ],
		"blocks": [
            {
                "type": "text",
                "name": "Megamenu Item",
                "settings": [
                  {
                      "type": "select",
                      "id": "layout_menu",
                      "label": "Select show Megamenu",
                      "default": "default",
                      "options": [
                        {
                          "value": "default",
                          "label": "Menu default"
                        },
                        {
                          "value": "left",
                          "label": "Menu on left"
                        },
                        {
                          "value": "right",
                          "label": "Menu right"
                        }
                      ],
                      "info": "show Megamenu on left or right"
                  },
                    {
                        "type": "text",
                        "id": "max_width_menu",
                        "label": "Setting width Dropdown Menu",
                        "info": "1000px or 100%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_item",
                        "label": "Menu item name",
                        "info": "Menu item of main-menu. Menu item has dropdown megamenu."
                    },
                    {
                        "type": "header",
                        "content": "Block navigation",
                        "info": "Admin -> Navigation -> Menu. Position:1"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_menu_enable",
                        "label": "Enable navigation"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_menu_col",
                        "label": "Class for Block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_menu_menucol",
                        "label": "Class for each Menu",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "header",
                        "content": "Banner menu of menu"
                    },
                    {
                        "type": "image_picker",
                        "id": "image11",
                        "label": "Banner image 1"
                    },
                    {
                        "type": "url",
                        "id": "link11",
                        "label": "Banner Link 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image22",
                        "label": "Banner image 2"
                    },
                    {
                        "type": "url",
                        "id": "link22",
                        "label": "Banner Link 2"
                    },
                   	{
                        "type": "image_picker",
                        "id": "image33",
                        "label": "Banner image 3"
                    },
                    {
                        "type": "url",
                        "id": "link33",
                        "label": "Banner Link 3"
                    },
                   	{
                        "type": "image_picker",
                        "id": "image55",
                        "label": "Banner image 4"
                    },
                    {
                        "type": "url",
                        "id": "link55",
                        "label": "Banner Link 4"
                    },
                   	{
                        "type": "image_picker",
                        "id": "image44",
                        "label": "Banner image 5 /  full width"
                    },
                    {
                        "type": "url",
                        "id": "link44",
                        "label": "Banner Link 5"
                    },
                    {
                        "type": "header",
                        "content": "Block products",
                        "info": "Position:2"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_product_enable",
                        "label": "Enable products"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_product_col",
                        "label": "Class for Block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_product_title",
                        "label": "Block Title"
                    },
                    {
                        "type": "collection",
                        "id": "velamenu_product_collection",
                        "label": "Collection"
                    },
                    {
                        "type": "header",
                        "content": "Block html",
                        "info": "Position:3"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_html_enable",
                        "label": "Enable html"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_html_col",
                        "label": "Class for Block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_html_title",
                        "label": "Block Title"
                    },
                    {
                        "type": "textarea",
                        "id": "velamenu_html_content",
                        "label": "Content HTML",
                        "info": "You can input HTML code, img tag, video code, ..."
                    },
                    {
                        "type": "header",
                        "content": "Block banner",
                        "info": "Position:4"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_banner_enable",
                        "label": "1/ Enable banner 2"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_banner_col",
                        "label": "Class for Block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "Image Size",
                        "default": "255x300",
                        "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
                    },
                    {
                        "type": "image_picker",
                        "id": "velamenu_banner",
                        "label": "Banner image"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_banner_link",
                        "label": "Banner Link"
                    }
                    
                ]
            }
        ]
    }
{% endschema %}